<%= form_with(model: active_encode_encode_record, local: true) do |form| %>
  <% if active_encode_encode_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(active_encode_encode_record.errors.count, "error") %> prohibited this active_encode_encode_record from being saved:</h2>

      <ul>
      <% active_encode_encode_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :global_id %>
    <%= form.text_field :global_id, id: :active_encode_encode_record_global_id %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :active_encode_encode_record_state %>
  </div>

  <div class="field">
    <%= form.label :adapter %>
    <%= form.text_field :adapter, id: :active_encode_encode_record_adapter %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :active_encode_encode_record_title %>
  </div>

  <div class="field">
    <%= form.label :raw_object %>
    <%= form.text_area :raw_object, id: :active_encode_encode_record_raw_object %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
