<p id="notice"><%= notice %></p>

<h1>Active Encode Encode Records</h1>

<table>
  <thead>
    <tr>
      <th>Global</th>
      <th>State</th>
      <th>Adapter</th>
      <th>Title</th>
      <th>Raw object</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_encode_encode_records.each do |active_encode_encode_record| %>
      <tr>
        <td><%= active_encode_encode_record.global_id %></td>
        <td><%= active_encode_encode_record.state %></td>
        <td><%= active_encode_encode_record.adapter %></td>
        <td><%= active_encode_encode_record.title %></td>
        <td><%= active_encode_encode_record.raw_object %></td>
        <td><%= link_to 'Show', active_encode_encode_record %></td>
        <td><%= link_to 'Edit', edit_active_encode_encode_record_path(active_encode_encode_record) %></td>
        <td><%= link_to 'Destroy', active_encode_encode_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Active Encode Encode Record', new_active_encode_encode_record_path %>
