<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <h1>Transcoding Dashboard</h1>

    <table id="active_encode_encode_records" class="datatable">
      <thead>
        <tr>
          <th>Status</th>
          <th>ID</th>
          <th>Progress</th>
          <th>Filename</th>
          <th>Fileset</th>
          <th>Work</th>
          <th>Job Started</th>
        </tr>
      </thead>

      <tbody>
        <% @active_encode_encode_records.each do |active_encode_encode_record| %>
          <% encode_presenter = ActiveEncodeEncodePresenter.new(active_encode_encode_record) %>
          <tr class="row-items" >
            <td><%= encode_presenter.status %></td>
            <td data-link="<%= active_encode_encode_record_path(active_encode_encode_record.id) %>" ><%= encode_presenter.id %></td>
            <td><progress value=<%= encode_presenter.progress %> max="100"></progress></td>
            <td><%= encode_presenter.title %></td>
            <td data-link="<%= encode_presenter.file_set_url %>" ><%= encode_presenter.file_set_id %></td>
            <td data-link="<%= encode_presenter.work_url %>" ><%= encode_presenter.work_id %></td>
            <td><%= encode_presenter.started %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
$("td[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
