<p id="notice"><%= notice %></p>

<p>
  <strong>Global:</strong>
  <%= @active_encode_encode_record.global_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @active_encode_encode_record.state %>
</p>

<p>
  <strong>Adapter:</strong>
  <%= @active_encode_encode_record.adapter %>
</p>

<p>
  <strong>Title:</strong>
  <%= @active_encode_encode_record.title %>
</p>

<p>
  <strong>Raw object:</strong>
  <%= @active_encode_encode_record.raw_object %>
</p>

<%= link_to 'Edit', edit_active_encode_encode_record_path(@active_encode_encode_record) %> |
<%= link_to 'Back', active_encode_encode_records_path %>
