<%#
Copyright 2011-2018, The Trustees of Indiana University and Northwestern
University. Additional copyright may be held by others, as reflected in
the commit history.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language", default: '') %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>

  <body>
    <a href="#skip_to_content" class="sr-only">Skip to Content</a>
    <%= render '/masthead' %>
    <%= content_for(:navbar) %>
    <%= content_for(:precontainer_content) %>
    <div id="content-wrapper" class="container" role="main">
      <!-- TODO: Fix this in Hyrax?  'col-xs-12' should be wrapped in a 'row' -->
      <div class="row">
        <a name="skip_to_content"></a>
        <div class="col-xs-12">
          <%= render '/flash_msg' %>
          <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
          <% if content_for?(:page_header) %>
            <div class="row">
              <div class="col-xs-12 main-header">
                <%= yield(:page_header) %>
              </div>
            </div>
          <% end %>

          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>

    </div><!-- /#content-wrapper -->
    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
  </body>
</html>
